.card-container {
    margin: 0 0 0 0;
    position: relative;
    z-index: 1;
    margin: 0 50px 30px ;
    min-width: 340px;
    height: 420px;
    perspective: 1000px;
    /* background-color: white; */
    text-align: center;
    /* border-style: solid;
    border-color: pink; */
   }
   
   img {
    max-width: 100%;
    max-height: 100%;
   }

   /*- Card body -*/
.card-body {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all .7s linear;
   }
   
   /*- Flipping the card -*/
   .card-container:hover .card-body {
    transform: rotateY(180deg);
   }
   
   .card-container:hover > .card-body > .side-front {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in, visibility .75s linear;
   }

   /*- Card sides -*/
.card-side {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #212121;
    background-color: #fff;
    backface-visibility: hidden;
    box-shadow: 0 10px 35px rgba(161, 161, 168, 0.262),0 2px 15px rgba(0,0,0,.07);
   }

   /*- Backside -*/
.side-back {
    /* display: flex;
    flex-direction: column;
    align-items: "center";
    justify-content: "center"; */
    z-index: 2;
    transform: rotateY(180deg);
   }



.grid-container {
    display: inline-grid;
    /* grid-auto-columns: 30px; */
    /* grid-gap: 100px; */
    grid-template-columns: repeat(2, 1fr);
    /* border-style: solid;
    border-color: white; */
}

